.record{
	font-size: 18px;
	position: relative;

	&.dep{
		background-color: #3a3333;
	}
	&.arr{
		background-color: #333a33;
	}
	&.conflict{
		background-color: #930;
	}

	>span{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}

	.date{
	margin-left: 8px;
	}

	.dep,
	.arr{
		font-size: 12px;
		width: 32px;
		height:20px;
		line-height: 20px;
		border-radius: 4px;
		color:#000;
		cursor: pointer;

		&:before{

		}
	}
	.dep{
		background-color: #f99;
		&:before{
			content:'出境';
		}
	}
	.arr{
		background-color: #9f9;
		&:before{
			content:'入境';
		}
	}


	&.conflict>.close{
		border:1px solid #fff;
	}
	.close{
		width: 14px;
		height:14px;
		margin-left:14px;
		border:1px solid transparent;
		border-radius: 50%;
		background-color: #c44;
		cursor: pointer;
		display: inline-block;
		position: relative;
		&:before{
			width: 8px;
			height: 2px;
			background-color: #fff;
			display: block;
			position: absolute;
			left: 3px;
			top:6px;
			content:'';
			// content:'⨯';

		}

	}



	.qualify{
		position: absolute;
		top:3px;
		left:50%;
		margin-left: 90px;
		font-size: 14px;

		.status{
			// margin-right: 20px;
			&:after{
				content:'不符合資格';
			}
			&.qualified:after{
				content:'　符合資格';
			}
			&.empty{
				// display: none;
			}
		}
		.invert{
			&:before{
				content:', ';
			}
			&:after{
				content:' 後註銷資格';
			}
			&.qualified:after{
				content:' 後符合資格';
			}
			&.empty{
				display: none;
			}
		}
	}
}
