.records{
	position:relative;
	width:460px;
	border: 3px solid #666;
	display: inline-block;
	margin: 32px 0;
	text-align: left;
	@media (max-width: 768px){
		border-width:1px;
		width: 316px;
	}

}


/*
██████  ███████  ██████  ██████  ██████  ██████
██   ██ ██      ██      ██    ██ ██   ██ ██   ██
██████  █████   ██      ██    ██ ██████  ██   ██
██   ██ ██      ██      ██    ██ ██   ██ ██   ██
██   ██ ███████  ██████  ██████  ██   ██ ██████
*/
.record{
	font-size: 18px;
	position: relative;
	width:100%;
	padding: 4px 16px;
	box-sizing: border-box;
	@media (max-width: 768px){
		font-size: 16px;
		padding: 8px;
		line-height: 22px;
		text-align: center;
	}

	&.dep{
		background-color: #3a3333;
	}
	&.arr{
		background-color: #333a33;
	}
	&.conflict{
		background-color: #930;
	}

	>span{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}


	/*
	██████   █████  ████████ ███████
	██   ██ ██   ██    ██    ██
	██   ██ ███████    ██    █████
	██   ██ ██   ██    ██    ██
	██████  ██   ██    ██    ███████
	*/
	.date{
		margin-right: 12px;
	}

	.dep,
	.arr{
		font-size: 12px;
		width: 32px;
		height:20px;
		line-height: 20px;
		border-radius: 4px;
		color:#000;
		cursor: pointer;
		margin-right: 12px;
		@media (max-width: 768px){
			width:30px;
			height: 18px;
			line-height: 18px;
		}

	}
	.dep{
		background-color: #f99;
		&:before{
			content:'出境';
		}
	}
	.arr{
		background-color: #9f9;
		&:before{
			content:'入境';
		}
	}

	/*
	 ██████ ██       ██████  ███████ ███████
	██      ██      ██    ██ ██      ██
	██      ██      ██    ██ ███████ █████
	██      ██      ██    ██      ██ ██
	 ██████ ███████  ██████  ███████ ███████
	*/
	&.conflict>.close{
		border:1px solid #fff;
	}
	.close{
		width: 14px;
		height:14px;
		margin-right:16px;
		border:1px solid transparent;
		border-radius: 50%;
		background-color: #c44;
		cursor: pointer;
		display: inline-block;
		position: relative;
		opacity: .3;
		&:hover{
			opacity: 1;
		}

		@media (max-width: 768px){
			opacity: 1;
			margin-right: 8px;
		}
		&:before{
			width: 8px;
			height: 2px;
			background-color: #fff;
			display: block;
			position: absolute;
			left: 3px;
			top:6px;
			content:'';
			// content:'⨯';

		}

	}



	.qualify{
		display: inline-block;
		font-size: 14px;
		@media (max-width: 768px){
			font-size: 12px;
			display: block;
		}
		>span{
			display: inline-block;
			vertical-align: middle;
		}

		.status{
			&:after{
				content:'不符合資格';
			}
			&.qualified:after{
				content:'　符合資格';
			}
			&.empty{
				// display: none;
			}
		}
		.invert{
			&:before{
				content:', ';
			}
			&:after{
				content:' 後註銷資格';
			}
			&.qualified:after{
				content:' 後符合資格';
			}
			&.empty{
				display: none;
			}
		}
	}
}
